$white-color: #ffffff;
$btn-color: #f9fafb;
$border-color: #d1d5db;
$btn-active: #0e0e0e;
$movie-description-text-color: #6b7280;
$middle-description-color: #111827;
$back-color: #000000;
$gray-color: #dfdddd;
$night-text-gray-color: #a5a5a5;
$night-input-color-1: #2e2e2f;
$night-input-color-2: #4b4b4b;
$night-background-color: #121212;
